
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="../images/chef-pic.jpg" alt="chef-pic">
    </a>
  </div>
  <div class="media-body">
    <h1 class="media-heading"><%=chefItem.local.name%></h1>
    <h3>Cuisines : <%=chefItem.local.cuisines%></h3>
    <%chefItem.local.recipes.forEach(function(recipeItem) {%>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3  class="panel-title"><%=recipeItem.dishName%></h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">Ingredients: <%=recipeItem.ingredients%></li>
            <li class="list-group-item">Preparation time(mins): <%=recipeItem.prepTime%></li>
            <li class="list-group-item">Cost (SGD): <%=recipeItem.cost%>
              <form action= <%="/chefs/:id/checkout"%> method="post">
              <div class="form-group">
              <input type="submit" value="Place Order" class="btn btn-success">
              </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    <%})%>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">Comments</h4>
      <ul class="list-group">
        <%chefItem.local.comments.forEach(function(item){%>
          <li class="list-group-item"><%=item.username%> : <%=item.content%></li>
        <%})%>
      </ul>
      <form action= <%="/chefs/"+ chefItem._id%> method="post">
        <div class="form-group">
          <label for="comments">Add a Review</label>
          <input type="text" class="form-control" name="users[name]" id="reviewcommentid" placeholder="review">
          <button type="submit" class="btn btn-success">Comment</button>
          </div>
          </form>
        </div>
      </div>

    </div>

  </div>
